<!-- Wrapper -->
<!-- Header -->
<header id="rst-header" class="wpb_row">
	<!-- Header banner -->
	<div class="rst-header-banner rst-banner-background rst-banner-3 rst-index-page-banner" style="padding-top: 20px;">

		<!-- Menu bar -->
		<div class="rst-header-menu-bar">
			<div class="container">
				<div class="rst-header-logo">
					<a href="/"><img src="/images/kznlogo.png" width="250" alt="" /></a>
					<a class="rst-logo-sticky" href="/"><img src="/images/header-logo-2.png" alt="" /></a>
				</div>
				<nav class="rst-header-menu">
					<button class="rst-menu-trigger">
						<span>Toggle navigation</span>
					</button>
					<ul>
						<li><a href="/clients">Clients</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
				<div class="clear"></div>
			</div>
		</div>
		<!-- Menu bar -->

		<!-- Banner content -->
		<div class="rst-banner-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-left">
							<h1>We bring a holistic approach to technology.</h1>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Banner content -->

	</div>
	<!-- Header banner -->

	<div class="rst-scroll-down text-center">
		<a href="#"><i class="fa fa-arrow-down"></i></a>
	</div>

</header>
<!-- Header -->
